
.contents__chat-side
  .content__side-header
    .content__side-header__box
      .content__side-header__box-username
        test-users
      .content__side-header__box-menu
        = link_to'#', class: "content__side-header__box-menu-edit" do
          = icon('fas', 'edit')
        = link_to'#', class: "content__side-header__box-menu-cog" do
          = icon('fas','cog')

  .contents__groups
    .content__group
      test-group
    .content__comment
      さようなら

    .content__group
      sample-group
    .content__comment
      hello!
      
    .content__group
      sample-group
    .content__comment
      まだメッセージがありません。



  